.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.password-reset-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.password-reset-card h1 {
  margin-bottom: 20px;
  text-align: center;
}

.password-reset-form {
  max-width: 300px;
  margin: 0 auto;
}

.password-reset-form-button {
  width: 100%;
}
