.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.user-profile span {
  margin-left: 10px;
  color: white;
  font-size: 24px;
}

.logout-button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.new-task-button {
  /* position: absolute;
  top: 20px;
  right: 50px;
  color: white; */
  background-color: rgb(44, 5, 80) !important ;
  /* margin-bottom: 50px; */
}

.menu-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: darkblue;
  cursor: pointer;
  display: none;
  z-index: 1010; /* Ensuring it's on top of everything */
}

/* This style is no longer needed as the sidebar's trigger is now external */
.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  display: none;
}
.blurred-content {
  filter: blur(8px);
  pointer-events: none; /* This will make sure the blurred content is not interactable */
}

/* Existing styles ... */

/* Styling for the task card */
.task-card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* This ensures content inside respects the border-radius */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* for hover effect */
  height: 280px; /* This is the fixed height for your card. Adjust as needed. */
  position: relative;
}

.task-card:hover {
  transform: translateY(-5px); /* Small move upwards */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Slightly more pronounced shadow on hover */
}

/* Styling for content inside the task card for better spacing */
.task-card h3 {
  margin-top: 0; /* Remove default margin */
  padding: 16px 24px 0; /* Add some padding */
  font-size: 20px; /* Bigger title */
  color: #333; /* Darker text color */
  white-space: nowrap; /* Prevents the text from wrapping onto the next line */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed content */
  max-width: 90%;
}

.task-card p {
  padding: 8px 24px; /* Add some padding */
  color: #555; /* Slightly muted text color */
  white-space: nowrap; /* Prevents the text from wrapping onto the next line */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed content */
  max-width: 90%;
}

/* If you want a separator between the task items */
.task-card p:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* Ensure last paragraph in the card doesn't have too much bottom padding */
.task-card p:last-child {
  padding-bottom: 16px;
}

/* Styling for the task card actions (icons) */
.task-card-actions {
  display: flex;
  justify-content: space-between; /* This evenly spaces the icons */
  align-items: center; /* Align items vertically centered */
  padding: 16px 24px; /* Padding for top, right, bottom, left */
  position: absolute; /* Positioned relative to the card */
  bottom: 0; /* Positioned at the bottom */
  left: 0; /* Positioned to the left */
  width: calc(100% - 48px); /* Width adjusted for 24px padding on both sides */
}

.complete-icon,
.task-card-actions div button {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  margin: 0; /* This ensures equal spacing when using space-between in parent */
}

/* If you have multiple icons/buttons and need spacing between them, use this: */
.task-card-actions div:not(:last-child) button {
  margin-right: 20px; /* Adjust as necessary */
}

@media (max-width: 1023px) {
  .blur-content {
    filter: blur(4px);
    transition: filter 0.3s ease;
  }

  .menu-toggle-button {
    display: block;
  }
}

@media (min-width: 1024px) {
  .blur-content {
    filter: none;
  }
}

@media (max-width: 767px) {
  .task-card {
    height: auto; /* Make height auto to adjust with content */
    padding-bottom: 16px; /* Add some padding at the bottom */
  }

  .task-card h3 {
    font-size: 18px; /* Slightly smaller title for mobile */
    padding: 12px 16px 0; /* Adjusted padding */
  }

  .task-card p {
    padding: 6px 16px; /* Adjusted padding */
    font-size: 14px; /* Smaller font for descriptions */
  }

  .task-card-actions {
    padding: 0 12px; /* Reduce padding on sides */
    bottom: 8px; /* Adjust the bottom positioning */
  }

  /* Adjust icon sizes or any other specific styles as needed */
  .complete-icon {
    font-size: 14px;
  }

  .task-card-actions button {
    padding: 6px; /* Reduced padding */
  }
}

/* Ensure the sidebar is on top */
.ant-layout-sider {
  z-index: 1000;
}

.ant-modal .modal-ok-button {
  background-color: #007bff; /* primary blue color */
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.ant-modal .modal-ok-button:hover {
  background-color: #0056b3;
}

.success-modal-ok-button {
  background-color: #52c41a; /* Example: Set to Ant Design success color */
  color: #fff; /* White text */
  border-color: #52c41a; /* Same as background color */

  &:hover,
  &:focus {
    background-color: #73d13d; /* Slightly lighter green for hover/focus state */
    border-color: #73d13d;
  }
}

.complete-icon {
  color: green;
}

.pending-icon {
  color: orange;
}
