body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f6f8;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.landing-card {
  width: 70%;
  max-width: 900px;
  padding: 50px 70px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: justify;
}

.landing-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 600;
  color: #2c3e50;
}

.landing-description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  color: #7f8c8d;
}

.feature-section {
  margin: 30px 0;
}

.feature-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #34495e;
}

.feature-list-item {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #5d6d7e;
  margin-bottom: 18px;
}

.feature-list-item:before {
  display: none;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-button {
  background-color: #1890ff !important;
  color: #fff !important;
  border: none !important;
  margin: 0 10px !important;
  font-size: 16px !important;
  border-radius: 4px !important;
  transition: background-color 0.3s !important;
}

.login-button:hover {
  background-color: #096dd9 !important;
}

.register-button {
  background-color: #52c41a !important;
  color: #fff !important;
  border: none !important;
  margin: 0 10px !important;
  font-size: 16px !important;
  border-radius: 4px !important;
  transition: background-color 0.3s !important;
}

.register-button:hover {
  background-color: #389e0d !important;
}
