.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-card {
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.login-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.login-form {
  max-width: 300px;
}

.login-form-button {
  width: 100%;
}

.login-extra-links {
  text-align: center;
}

.login-form-forgot {
  float: left;
}

.login-form-forgot,
.login-extra-links a {
  display: inline-block;
  margin-top: 10px;
}

.login-form-button {
  background-color: #40a9ff !important;
}

/* Add animations for input focus */
.ant-input:focus {
  transition: border-color 0.3s ease-in-out;
  border-color: #40a9ff !important;
}

/* Button loading animation */
.ant-btn-loading .anticon {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Adaptive Layout */
@media only screen and (max-width: 600px) {
  .login-card {
    margin: 10px;
  }

  .login-form {
    max-width: 100%;
  }
}
